.video-container {
    // display: none !important;
    @include media("<=md") {
        margin: 2px 2px;
    }

    .title {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .description {
        margin-top: 20px;
        font-size: 1rem;
    }

    #tags {
        margin-top: 10px;

        @include media("<=sm") {
            font-size: 10px;
        }
    }

    #similar-videos {
        .video {
            margin-bottom: 16px;

            .col-5 {
                min-height: 100px;
                background-repeat: no-repeat;
                background-size: cover;

                @include media("<=md") {
                    min-height: 190px;
                }

                @include media("<=sm") {
                    min-height: 120px;
                }

                @include media("<=xs") {
                    min-height: 80px;
                }
            }
        }

        @include media("<=sm") {
            margin: 30px 15px;
            overflow: hidden;
        }

        .duration {
            position: absolute;
            z-index: 2;
            bottom: 2px;
            right: 2px;
            color: white;
            background: black;
            padding: 1px 6px;
            opacity: 0.7;
            font-size: 10px;
            border-radius: 10px;
        }
    }
}
