/node_modules
/public/hot
/public/sitemap.xml
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/wideos
public/upload
public/.htaccess
public/upload/images

#Webpack CI/CD abuddy.works
/public/css
/public/js
!/public/js/ckeditor