.data-table-video {
    .btn-action {
        margin: 1px;
    }
}

#main-video {
    width: 640px;
    height: 268px;
    @include media("<=md") {
        width: 100%;
    }
}



.select-tag {
    height: 400px !important;

    @include media("<=md") {
        height: 300px !important;
    }
}